<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>接包人员</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>这是标题这是标题这是标题</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="col-md-12 col-lg-12 col-sm-11">

                                        <div class="col-md-12 col-lg-12 col-sm-11">
                                            <h2>邮件标题：<span style="color: #00ace6">这是标题这是标题这是标题</span></h2>
                                            <h2>发送时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                            <h2>发件人：<span style="color: #00ace6">管理员</span></h2>
                                            <h2>收件人：<span style="color: #00ace6">Graman</span></h2>
                                            <br />
                                        </div>
                                        <!-- blockquote -->
                                        <blockquote>
                                            <p>我终于来到伊瓜苏，觉得好难过，因为我始终觉得，站在瀑布下面的，应该是两个人。<br /> 你不要自暴自弃嘛，前阵子还好好的，好好的怎会胖成这样子？！她虽然不在了，你还是得见人嘛，不要再放纵自己了，减肥吧。
                                                <br /> 你知不知道我想骂你很久了，你变了很多呀，做人要有性格嘛，不管她回不回来，你也不应该改变你自己嘛，你自己好好反省吧。看着它哭的样子，我觉得很开心，因为无论它的外表怎么变，它仍然是一条多愁善感的毛巾。
                                                <br /> 觉不觉得我乐观多了，我觉得很多东西都变漂亮了，我以前觉得你很笨，现在看看你也蛮可爱的嘛，可是你不要弄得自己脏兮兮的嘛，以前白白的不是很好吗，干嘛要弄得黄黄，看，还一条大疤痕，你是不是和别人打架啦？
                                                <br /> 你干嘛要躲在这里，你知不知道我找你很久了？躲在这里没有用的，要面对现实嘛。你看你都发霉了，明天吧，明天我有空给你晒太阳。
                                            </p>
                                        </blockquote>

                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        <!-- 这里我实在不知道怎么实现了emm -->
                                        <h4>附件下载</h4>
                                        <span class="label label-default">附件1</span>
                                        <span class="label label-primary">附件2</span>
                                        <span class="label label-success">附件3</span>
                                        <span class="label label-info">附件4</span>
                                        <span class="label label-warning">附件5</span>
                                        <span class="label label-danger">附件6</span>
                                        <span class="badge badge-success">附件7</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    {include file='common/js'}
</body>

</html>