<h1>LoginPage</h1>
<form action="..\api\users\register" method="post">
    <input type='text' name='UserName'>
    <input type='text' name='Password'>
    <input type='text' name='Gender'>
    <input type='text' name='Birthday'>
    <input type='text' name='Idcard'>
    <input type='text' name='Nation'>
    <input type='text' name='Height'>
    <input type='text' name='Marital'>
    <input type='text' name='PhoneNum'>
    <input type='text' name='ECN'>
    <input type='text' name='ECP'>
    <input type='text' name='BankCardNum'>
    <input type='text' name='FaceInfo'>
    <input type='text' name='Security'>
    <input type='submit'>
</form>