<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>发包人员</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>关于竞技场防背叛还是防碾压墙的论证系统的实现</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="col-md-12 col-lg-12 col-sm-11">

                                        <div class="col-md-12 col-lg-12 col-sm-11">
                                            <h2>项目名称：<span style="color: #00ace6">关于竞技场防背叛还是防碾压墙的论证系统的实现</span></h2>
                                            <h2>起始时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                            <h2>截止时间：<span style="color: #00ace6">2018.02.31</span></h2>
                                            <h2>发包人员：<span style="color: #00ace6">法塔赫</span></h2>
                                            <h2>安全等级：<span style="color: #00ace6">高</span></h2>
                                            <br />
                                        </div>
                                        <!-- blockquote -->
                                        <blockquote>
                                            <h3>具体说明：</h3>
                                            <p>当人对世界的理性和幸福的热望，却碰到了这个非人的毫无意义杂乱无章的世界，荒谬就产生了。<br /> 西西弗无声的全部快乐就在于此。他的命运是属于他的，他的岩石是他的事情。
                                                <br /> 我好像是两手空空，一无所有，但我对自己很有把握，对我所有的一切都有把握，比他有把握得多，对我的生命，对我即将来到的死亡，都有把握。是的，我只有这份把握，但至少我掌握了这个真理，正如这个真理抓住了我一样。我以前有理，现在有理，将来永远有理。
                                                <br /> 现在我面对着这个充满了星光与默示的夜，第一次向这个冷漠的世界敞开了我的心扉。我体验到这个世界如此像我，如此友爱融洽，觉得自己过去曾经是幸福的，现在仍然是幸福的。
                                            </p>
                                        </blockquote>

                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        <!-- 这里我实在不知道怎么实现了emm -->
                                        <div class="ln_solid"></div>
                                        <button class="btn btn-primary">修改信息</button>
                                        <button class="btn btn-primary">添加子项目</button>
                                        <button class="btn btn-warning">修改需求</button>
                                        <button class="btn btn-success">确认验收</button>
                                        <button class="btn btn-danger">清除项目</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="x_title">
                                    <h3>当前进度</h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">子项目1</a>
                                            </li>
                                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">子项目2</a>
                                            </li>
                                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">子项目3</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                <div>
                                                    <div class="col-md-12 col-lg-12 col-sm-11">
                                                        <h2>项目名称：<span style="color: #00ace6">子项目1</span></h2>
                                                        <h2>起始时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                                        <h2>截止时间：<span style="color: #00ace6">2018.02.31</span></h2>
                                                        <h2>负责人：<span style="color: #00ace6">法塔赫</span></h2>
                                                        <h2>安全等级：<span style="color: #00ace6">高</span></h2>
                                                        <hr />
                                                        <div class="col-xs-3">
                                                            <!-- required for floating -->
                                                            <!-- Nav tabs -->
                                                            <ul class="nav nav-tabs tabs-left">
                                                                <li class="active"><a href="#product" data-toggle="tab">项目成果审核</a>
                                                                </li>
                                                                <li><a href="#resource" data-toggle="tab">需求反馈</a>
                                                                </li>
                                                                <li><a href="#bug" data-toggle="tab">问题报告</a>
                                                                </li>
                                                                <li><a href="#log" data-toggle="tab">日志</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-xs-9">
                                                            <!-- Tab panes -->
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="product">
                                                                    <table class="table table-hover" contenteditable="true">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>成果名称</th>
                                                                                <th>种类</th>
                                                                                <th>状态</th>
                                                                                <th>操作</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id='waitinglist'>
                                                                            <tr class='info'>
                                                                                <td>api文档</td>
                                                                                <td>文档</td>
                                                                                <td>可用</td>
                                                                                <td>
                                                                                    <a herf='' class='btn btn-primary'>下载</a>
                                                                                </td>

                                                                            </tr>
                                                                            <tr class='success'>
                                                                                <td>源代码</td>
                                                                                <td>代码</td>
                                                                                <td>可用</td>
                                                                                <td>
                                                                                    <a herf='' class='btn btn-primary'>下载</a>
                                                                                </td>

                                                                            </tr>
                                                                            <tr class='success'>
                                                                                <td>源代码</td>
                                                                                <td>代码</td>
                                                                                <td>可用</td>
                                                                                <td>
                                                                                    <a herf='' class='btn btn-primary'>下载</a>
                                                                                </td>

                                                                            </tr>
                                                                            <tr class='danger'>
                                                                                <td>源代码</td>
                                                                                <td>代码</td>
                                                                                <td>不可用</td>
                                                                                <td>
                                                                                    <a herf='' class='btn btn-primary disabled'>下载</a>
                                                                                </td>

                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="tab-pane" id="resource">人员1，人员2，人员3，恒源制图公司</div>
                                                                <div class="tab-pane" id="bug">
                                                                    <p>一阶段：2018.02.30~2018.03.01<br/> 提出设计预案
                                                                        <br/> 二阶段：2018.03.01~2018.04.01
                                                                        <br/> UI展示，功能介绍
                                                                        <br/> 三阶段：2018.04.01~2018.05.01
                                                                        <br/>案例展示，用户测试反馈汇总<br/>四阶段：2018.05.01~2018.06.01<br/> 发布会
                                                                    </p>
                                                                </div>
                                                                <div class="tab-pane" id="log"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                <div>
                                                    <div class="col-md-12 col-lg-12 col-sm-11">
                                                        <h2>项目名称：<span style="color: #00ace6">子项目2</span></h2>
                                                        <h2>起始时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                                        <h2>截止时间：<span style="color: #00ace6">2018.02.31</span></h2>
                                                        <h2>负责人：<span style="color: #00ace6">法塔赫</span></h2>
                                                        <h2>安全等级：<span style="color: #00ace6">高</span></h2>
                                                        <hr />
                                                        <div class="col-xs-3">
                                                            <!-- required for floating -->
                                                            <!-- Nav tabs -->
                                                            <ul class="nav nav-tabs tabs-left">
                                                                <li class="active"><a href="#product1" data-toggle="tab">项目成果审核</a>
                                                                </li>
                                                                <li><a href="#resource1" data-toggle="tab">需求反馈</a>
                                                                </li>
                                                                <li><a href="#bug1" data-toggle="tab">问题报告</a>
                                                                </li>
                                                                <li><a href="#log1" data-toggle="tab">日志</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-xs-9">
                                                            <!-- Tab panes -->
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="product1">
                                                                    <p>2018.02.30</p>
                                                                </div>
                                                                <div class="tab-pane" id="resource1">人员1，人员2，人员3，恒源制图公司</div>
                                                                <div class="tab-pane" id="bug1">
                                                                    <p>一阶段：2018.02.30~2018.03.01<br/> 提出设计预案
                                                                        <br/> 二阶段：2018.03.01~2018.04.01
                                                                        <br/> UI展示，功能介绍
                                                                        <br/> 三阶段：2018.04.01~2018.05.01
                                                                        <br/>案例展示，用户测试反馈汇总<br/>四阶段：2018.05.01~2018.06.01<br/> 发布会
                                                                    </p>
                                                                </div>
                                                                <div class="tab-pane" id="log1"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                                <div>
                                                    <div class="col-md-12 col-lg-12 col-sm-11">
                                                        <h2>项目名称：<span style="color: #00ace6">子项目3</span></h2>
                                                        <h2>起始时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                                        <h2>截止时间：<span style="color: #00ace6">2018.02.31</span></h2>
                                                        <h2>负责人：<span style="color: #00ace6">法塔赫</span></h2>
                                                        <h2>安全等级：<span style="color: #00ace6">高</span></h2>
                                                        <hr />
                                                        <div class="col-xs-3">
                                                            <!-- required for floating -->
                                                            <!-- Nav tabs -->
                                                            <ul class="nav nav-tabs tabs-left">
                                                                <li class="active"><a href="#product2" data-toggle="tab">项目成果审核</a>
                                                                </li>
                                                                <li><a href="#resource2" data-toggle="tab">需求反馈</a>
                                                                </li>
                                                                <li><a href="#bug2" data-toggle="tab">问题报告</a>
                                                                </li>
                                                                <li><a href="#log2" data-toggle="tab">日志</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-xs-9">
                                                            <!-- Tab panes -->
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="product">
                                                                    <p>2018.02.30</p>
                                                                </div>
                                                                <div class="tab-pane" id="resource2">人员1，人员2，人员3，恒源制图公司</div>
                                                                <div class="tab-pane" id="bug2">
                                                                    <p>一阶段：2018.02.30~2018.03.01<br/> 提出设计预案
                                                                        <br/> 二阶段：2018.03.01~2018.04.01
                                                                        <br/> UI展示，功能介绍
                                                                        <br/> 三阶段：2018.04.01~2018.05.01
                                                                        <br/>案例展示，用户测试反馈汇总<br/>四阶段：2018.05.01~2018.06.01<br/> 发布会
                                                                    </p>
                                                                </div>
                                                                <div class="tab-pane" id="log2"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 20px">
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary">子项目详情</button>
                                        <button type="submit" class="btn btn-success">确认接收</button>
                                        <button type="submit" class="btn btn-primary">发布反馈</button>

                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 20px">
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_title">
                                    <h3>聊天室</h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <ul>
                                        <li>[2018-2-27 9:00]@[管理员]#[debug]:test</li>
                                        <li>[2018-2-27 9:00]@[管理员]#[debug]:test</li>
                                        <li>[2018-2-27 9:00]@[管理员]#[debug]:test</li>
                                        <li>[2018-2-27 9:00]@[管理员]#[debug]:test</li>
                                    </ul>
                                    <form class="form-group" id='chartform'>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" name='message'>

                                        </div>
                                        <div class="col-lg-1">
                                            <button type="button" class="btn btn-success" onclick="getChartingboxData(1)">发送</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>项目概况</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="speeder" style="height:500px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>接包人员</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div style="height:500px">
                                        <table class="table table-hover" contenteditable="true">
                                            <thead>
                                                <tr>
                                                    <th>接包人员</th>
                                                    <th>等级</th>
                                                    <th>状态</th>
                                                    <th>繁忙指数</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody id='waitinglist'>
                                                <tr class='success'>
                                                    <td>hanerx3</td>
                                                    <td>-1</td>
                                                    <td>steam游戏中</td>
                                                    <td>空闲</td>

                                                </tr>
                                                <tr class='warning'>
                                                    <td>hanerx</td>
                                                    <td>-1</td>
                                                    <td>工作中</td>
                                                    <td>正常</td>

                                                </tr>
                                                <tr class='danger'>
                                                    <td>hanerx1</td>
                                                    <td>-1</td>
                                                    <td>工作中</td>
                                                    <td>繁忙</td>

                                                </tr>
                                                <tr class='danger'>
                                                    <td>hanerx2</td>
                                                    <td>-1</td>
                                                    <td>工作中</td>
                                                    <td>繁忙</td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>子项目</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div style="height:500px">
                                        <table class="table table-hover" contenteditable="true">
                                            <thead>
                                                <tr>
                                                    <th>项目名</th>
                                                    <th>负责人</th>
                                                    <th>等级</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>项目资源</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div style="height:500px">
                                        <table class="table" contenteditable="true">
                                            <thead>
                                                <tr>
                                                    <th>资源名称</th>
                                                    <th>上传人</th>
                                                    <th>上传时间</th>
                                                    <th>状态</th>
                                                    <th>等级</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody id='resourcelist'>
                                                <tr>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <!--         <footer>
          <div class="pull-right">
          </div>
          <div class="clearfix"></div>
        </footer> -->
                <!-- /footer content -->
            </div>
        </div>

        {include file='common/js'}
        <script>
            option = {
                title: {
                    text: '关于竞技场防背叛还是防碾压墙的论证系统的实现',
                    subtext: '项目概况',
                    x: 'center'
                },
                tooltip: {
                    formatter: "{a} <br/>{b} : {c}"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [{
                    name: '项目完成率',
                    type: 'gauge',
                    detail: {
                        formatter: '{value}%'
                    },
                    radius: '55%',
                    tooltip: {
                        formatter: "{a} <br/>{b} : {c}%"
                    },
                    axisLine: { // 坐标轴线
                        lineStyle: { // 属性lineStyle控制线条样式
                            width: 10
                        }
                    },
                    axisTick: { // 坐标轴小标记
                        length: 15, // 属性length控制线长
                        lineStyle: { // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    splitLine: { // 分隔线
                        length: 20, // 属性length控制线长
                        lineStyle: { // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: {
                        backgroundColor: 'auto',
                        borderRadius: 2,
                        color: '#eee',
                        padding: 3,
                        textShadowBlur: 2,
                        textShadowOffsetX: 1,
                        textShadowOffsetY: 1,
                        textShadowColor: '#222'
                    },
                    data: [{
                        value: 50,
                        name: '完成率'
                    }]
                }, {
                    name: '安全等级',
                    type: 'gauge',
                    center: ['20%', '55%'],
                    radius: '40%',
                    endAngle: 45,
                    min: 0,
                    max: 2,
                    splitNumber: 2,
                    axisLine: { // 坐标轴线
                        lineStyle: { // 属性lineStyle控制线条样式
                            width: 10
                        }
                    },
                    axisTick: { // 坐标轴小标记
                        length: 15, // 属性length控制线长
                        lineStyle: { // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    splitLine: { // 分隔线
                        length: 20, // 属性length控制线长
                        lineStyle: { // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: {
                        backgroundColor: 'auto',
                        borderRadius: 2,
                        color: '#eee',
                        padding: 3,
                        textShadowBlur: 2,
                        textShadowOffsetX: 1,
                        textShadowOffsetY: 1,
                        textShadowColor: '#222'
                    },
                    detail: {
                        show: false
                    },
                    data: [{
                        value: 2,
                        name: '等级'
                    }]
                }, {
                    name: '状态',
                    type: 'gauge',
                    center: ['80%', '55%'], // 默认全局居中
                    radius: '40%',
                    min: 0,
                    max: 2,
                    startAngle: 135,
                    endAngle: -45,
                    splitNumber: 2,
                    axisLine: { // 坐标轴线
                        lineStyle: { // 属性lineStyle控制线条样式
                            width: 10
                        }
                    },
                    axisTick: { // 坐标轴小标记
                        length: 15, // 属性length控制线长
                        lineStyle: { // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    splitLine: { // 分隔线
                        length: 20, // 属性length控制线长
                        lineStyle: { // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: {
                        backgroundColor: 'auto',
                        borderRadius: 2,
                        color: '#eee',
                        padding: 3,
                        textShadowBlur: 2,
                        textShadowOffsetX: 1,
                        textShadowOffsetY: 1,
                        textShadowColor: '#222',
                        formatter: function(v) {
                            switch (v + '') {
                                case '0':
                                    return '正点';
                                case '1':
                                    return '可能延期';
                                case '2':
                                    return '延期';
                            }
                        }
                    },
                    tooltip: {
                        formatter: function(params, ticket, callback) {
                            switch (params.value) {
                                case 0:
                                    return "项目状态<br/>状态：正点";
                                case 1:
                                    return "项目状态<br/>状态：可能延期";
                                case 2:
                                    return "项目状态<br/>状态：延期";
                            }
                        }
                    },
                    pointer: {
                        width: 2
                    },
                    detail: {
                        show: false
                    },
                    title: {
                        show: false
                    },
                    data: [{
                        value: 2,
                        name: '状态'
                    }]
                }]
            };
            var speederchart = echarts.init(document.getElementById('speeder'));
            speederchart.setOption(option);
        </script>
</body>

</html>