<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>发包人员</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="x_title">
                    <h3>人员管理</h3>
                    <div class="clearfix"></div>
                </div>
                <div class='row'>
                    <div class="col-md-8">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>接包人员基础信息</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class='col-xs-8' style='height:400px'>
                                    <blockquote>
                                        <h2>姓名：<span style="color: #00ace6">张三</span></h2>
                                        <h2>性别：<span style="color: #00ace6">男</span></h2>
                                        <h2>年龄：<span style="color: #00ace6">-1</span></h2>
                                        <h2>手机号码：<span style="color: #00ace6">110</span></h2>
                                        <h2>所属公司：<span style="color: #00ace6">Idea Factory Inc.</span></h2>
                                        <h2>安全等级：<span style="color: #00ace6">高</span></h2>
                                        <h2>信誉等级：<span style="color: #00ace6">高</span></h2>
                                        <h2>擅长方向：<span style="color: #00ace6">java</span></h2>
                                        <h2>工作年限：<span style="color: #00ace6">0</span></h2>
                                        <h2>登记时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                        <h2>最后登陆时间：<span style="color: #00ace6">2018.02.31</span></h2>
                                    </blockquote>
                                </div>
                                <div class='col-xs-4'>
                                    <img src="__STATIC__/image/3.jpg" alt="..." class="img-responsive profile_img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>能力雷达图</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div style='height:400px' id='radar'></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>参与项目</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-hover" contenteditable="true">
                                    <thead>
                                        <tr>
                                            <th>项目名</th>
                                            <th>开始时间</th>
                                            <th>等级</th>
                                            <th>状态</th>
                                            <th>评级</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><a href="{:url('contractor/companydetail/index')}">所属公司信息</a></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">简介</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">著名人员</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">著名项目</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <blockquote>
                                                <h4>公司名：<span style="color: #00ace6">Idea Factory Inc.</span></h4>
                                                <h4>安全等级：<span style="color: #00ace6">高</span></h4>
                                                <h4>信誉等级：<span style="color: #00ace6">高</span></h4>
                                                <h4>擅长方向：<span style="color: #00ace6">java</span></h4>
                                            </blockquote>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                            <p>人员1，人员2，人员3，恒源制图公司</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <table class="table table-hover" contenteditable="true">
                                                <thead>
                                                    <tr>
                                                        <th>项目名</th>
                                                        <th>开始时间</th>
                                                        <th>等级</th>
                                                        <th>状态</th>
                                                        <th>评级</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>个人评价</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_main" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">综合评价</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_contractor" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">发包人评价</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_user" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">同事评价</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_main" aria-labelledby="home-tab">

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_contractor" aria-labelledby="profile-tab">
                                            <p>人员1，人员2，人员3，恒源制图公司</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_user" aria-labelledby="profile-tab">
                                            <p>一阶段：2018.02.30~2018.03.01<br/> 提出设计预案
                                                <br/> 二阶段：2018.03.01~2018.04.01
                                                <br/> UI展示，功能介绍
                                                <br/> 三阶段：2018.04.01~2018.05.01
                                                <br/>案例展示，用户测试反馈汇总<br/>四阶段：2018.05.01~2018.06.01<br/> 发布会
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file='common/js'}
    <script>
        option = {
            title: {
                text: '能力雷达图'
            },
            tooltip: {

            },
            legend: {
                data: ['个人能力', '公司水平']
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [{
                    name: '参与项目',
                    max: 50
                }, {
                    name: '语种数量',
                    max: 15
                }, {
                    name: '工作时长',
                    max: 300
                }, {
                    name: '准时',
                    max: 100
                }, {
                    name: '安全等级',
                    max: 5
                }, {
                    name: '市场价值创造',
                    max: 25000
                }]
            },
            series: [{
                name: '能力',
                type: 'radar',
                // areaStyle: {normal: {}},
                data: [{
                    value: [12, 4, 250, 98.1, 4, 19000],
                    name: '个人能力'
                }, {
                    value: [32, 12, 300, 99.0, 5, 21000],
                    name: '公司水平'
                }]
            }]
        };
        var radarchart = echarts.init(document.getElementById('radar'));
        radarchart.setOption(option);
    </script>
</body>

</html>