<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>接包人员</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {inclued file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>这是历史项目详情页</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="col-md-12 col-lg-12 col-sm-11">

                                        <div class="col-md-12 col-lg-12 col-sm-11">
                                            <h2>项目名称：<span style="color: #00ace6">这是历史项目详情页</span></h2>
                                            <h2>起始时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                            <h2>截止时间：<span style="color: #00ace6">2018.02.31</span></h2>
                                            <h2>发包人员：<span style="color: #00ace6">法塔赫</span></h2>
                                            <h2>安全等级：<span style="color: #00ace6">高</span></h2>
                                            <h2>评价等级：<span style="color: #00ace6"><span style="color: red">88</span>/100</span>
                                            </h2>
                                            <br />
                                        </div>
                                        <!-- blockquote -->
                                        <blockquote>
                                            <h3>具体说明：</h3>
                                            <p>薄一波（1908—2007），原名薄书存，山西定襄县蒋村人。1925年入党，曾在山西，天津等地从事兵运等工作，3次入狱。1946年起，担任军队领导工作。建国后，历任华北局第1书记，军区政委，财政部部长，国务院第3办公室主任，国家建设委员会主任，国家经济委员会主任等职。</p>
                                        </blockquote>

                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        <!-- 这里我实在不知道怎么实现了emm -->
                                        <h4>附件下载</h4>
                                        <span class="label label-default">附件1</span>
                                        <span class="label label-primary">附件2</span>
                                        <span class="label label-success">附件3</span>
                                        <span class="label label-info">附件4</span>
                                        <span class="label label-warning">附件5</span>
                                        <span class="label label-danger">附件6</span>
                                        <span class="badge badge-success">附件7</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    {include file='common/js'}

</body>

</html>